@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-lg btn-primary" asp-action="Expenses">Expenses</a>
    <a class="btn btn-lg btn-secondary" asp-action="CreateEditExpense">Create Expense</a>
</div>
